{% extends './sidenav.base.html' %}

{% block title %} {% endblock title %}

{% block content_root %}


<div class="container">
    <div class="card">
        <div class="card-header">
            <h3> {% block page_header %}{% endblock page_header %} </h3>
            
        </div>
    
         <div class="card-body">
            {% if form.is_multipart %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
    
                    {% block edit_multipart_form %}{% endblock edit_multipart_form %}
    
                    <div class="card-footer">
                        {% include '../edit-form-buttons.html' %}
                        <div class="d-inline-flex ms-auto me-0">
                            {% block multipart_delete_btn %}{% endblock multipart_delete_btn %}
                        </div>
                    </div>
                </form>
                {% else %}
                <form method="post">
                    {% csrf_token %}
                    {% block edit_form %}{% endblock edit_form %}
            
                    <div class="card-footer mt-3">
                        {% include '../edit-form-buttons.html' %}
                        <div class="d-inline-flex ms-auto me-0">
                            {% block delete_button %}{% endblock delete_button %}
                        </div>
                    </div>
                </form>
            {% endif %}
         </div>
    
    </div>
</div>

{% endblock content_root %}
